p{
  font-family:"Times New Roman" ;
  font-size: 20px;
}
.image-size{
  width: 300px;
}
nav{
  color: darkred;
  font-size: 20px;
  text-align: center;
}
article, header{
  text-align: center;
}
h2{
  color: darkred;
  text-align: center;
  font-size: 60px;
  font-family: "Academy Engraved LET";
}
h4{
  font-size: 20px;
}
.image-size{
  width: 600px;
}
